<footer>
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="row">
            <div class="offset-lg-6 offset-0 col-lg-6 col-12">
                <div class="section-question-wrp2">
                    <form id="form1" action="">
                        <div class="question-content2 wow animated fadeInUp">
                            <p>Подписаться <br>на новости</p>
                            <div class="input-style">
                                <input class="input-valid" type="email" name="email" data-input="email" placeholder="Введите ваш Email">
                                <p class="input-error">заполните поле</p>
                            </div>
                            <button class="subscribe-btn" type="submit" name="button">
                                <span>подписаться</span>
                                <span>+ +</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <a href="/" class="logo">
                <img src="../../build/img/logo.png" alt="">
            </a>
            <ul class="header-list">
                <li>
                    <a href="#">о компании</a>
                </li>
                <li>
                    <a href="#">инструмент</a>
                </li>
                <li>
                    <a href="#">блог</a>
                </li>
                <li>
                    <a href="#">новости</a>
                </li>
                <li>
                    <a href="#">где купить</a>
                </li>
            </ul>
            <p class="copy">© 2020</p>
        </div>
    </div>
</footer>
