<main>
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="page-content page-catalog">
            <div class="p56">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="/">
                            <img src="../../build/img/house.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">Инструмент</a>
                    </li>
                </ul>
                <h2 class="wow animated fadeInUp">Инструмент</h2>
            </div>
            <div class="catalog-row">
                <div class="catalog-col-1">
                    <div class="p56 wow animated fadeInUp">
                        <p class="subtitle">Фильтр</p>
                        <div class="filter-btn">
                            <span class="btn-text">Фильтр</span>
                            <span>+ +</span>
                        </div>
                        <ul class="filters-list">
                            <li class="flex">
                                <span>Диагностика</span>
                                <img src="../../build/img/smile1.svg" alt="">
                            </li>
                            <li class="flex">
                                <span>Терапия</span>
                                <img src="../../build/img/smile2.svg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="catalog-col-2">
                    <div class="catalog-row-2">
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3 Экскаватор 3 Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="paginaciya">
                        <li>
                            <a href="#">предыдущая</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                        <li>
                            <a href="#">12</a>
                        </li>
                        <li>
                            <a href="#">следующая</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
