.pop-up-overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .overlay-pop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.35);
        z-index: 6;
    }
    &.active {
        display: flex;
    }
}
.pop-up-general-block {
    display: none;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 7;
    padding: 60px 54px 40px;
    width: 498px;
    background: #fff;
    box-shadow: 0px 8px 37px rgba(0, 0, 0, 0.14);
    &.active {
        display: block;
    }
    &.thnx {
        padding: 54px;
    }
    .btn-main-wrp {
        margin: 0 auto;
    }
    form {
        padding-top: 19px;
        .col-12 {
            margin-bottom: 20px;
        }
    }
}
.pop-title {
    text-align: center;
    font-size: 22px;
    line-height: 33px;
    color: #2F2F2F;
    font-family: 'TTCommons-Bold';
}
.textarea-pop-up {
    display: block;
    margin: 7px 0 23px;
    width: 100%;
    height: 161px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 25px;
    color: #2F2F2F;
    border: 1px solid #E2E2E2;
    &::placeholder {
        color: #5B5B5B;
    }
}

.pop-up-general-block-close-btn {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #2F2F2F;
        transition: .2s;
        top: 50%;
        transform: rotate(45deg);
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #2F2F2F;
        transition: .2s;
        top: 50%;
        transform: rotate(-45deg);
    }
}
.pop-up-input {
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    color: #2F2F2F;
    border-bottom: 1px solid #E2E2E2;
    &::placeholder {
        color: #5B5B5B;
    }
}
@media (max-width: 767px) {
    .pop-up-general-block {
        width: 90%;
        padding: 43px 30px 45px;
        &.thnx {
            padding: 45px 35px;
            .pop-title {
                br {
                    display: none;
                }
            }
        }
    }
    .pop-up-general-block form {
        padding-top: 9px;
    }
    .pop-up-general-block-close-btn  {
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 570px) {

}
