<main>
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="acc-list-fix-wrp">
            <ul class="acc-list-fix">
                <li>
                    <a href="#">
                        <img src="../../build/img/fb.svg" alt="">
                        <span>facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/inst.svg" alt="">
                        <span>instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content page-blog">
            <div class="p56">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="/">
                            <img src="../../build/img/house.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                </ul>
                <h2 class="wow animated fadeInUp">Блог meddins</h2>
            </div>
            <div class="page-blog-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 pr-0">
                        <div class="blog-prev-filter wow animated fadeInUp">
                            <p class="subtitle">Фильтр</p>
                            <div class="filter-btn">
                                <span class="btn-text">Фильтр</span>
                                <span>+ +</span>
                            </div>
                            <ul class="filters-list">
                                <li>
                                    <span>Раздел 1</span>
                                </li>
                                <li>
                                    <span>Раздел 2</span>
                                </li>
                                <li>
                                    <span>Раздел 3</span>
                                </li>
                                <li>
                                    <span>Раздел 4</span>
                                </li>
                                <li>
                                    <span>Раздел 5</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top-wrp">
                                    <div class="blog-block-top">
                                        <p>Терапия</p>
                                        <p>06.05.2020</p>
                                    </div>
                                    <p class="blog-prev-name">Очень тонкая гладилка для моделирования </p>
                                </div>
                                <div class="blog-middle">
                                    <p>Очень тонкая гладилка для точного моделирования композитными материалами для эстетических реставраций. Идеальна для взаимодействия с вестибулярными стенками фронтального зуба. Легкое сглаживание.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Стоматологический экскаватор</p>
                                <div class="blog-middle">
                                    <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, поврежденного дентина, временных пломб, мягкого зубного налета, наддесневых зубных отложений.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Стоматологический экскаватор</p>
                                <div class="blog-middle">
                                    <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, поврежденного дентина, временных пломб, мягкого зубного налета, наддесневых зубных отложений.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Стоматологический экскаватор</p>
                                <div class="blog-middle">
                                    <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, поврежденного дентина, временных пломб, мягкого зубного налета, наддесневых зубных отложений.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Стоматологический экскаватор</p>
                                <div class="blog-middle">
                                    <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, поврежденного дентина, временных пломб, мягкого зубного налета, наддесневых зубных отложений.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 p-0">
                        <div class="blog-prev wow animated fadeInUp">
                            <div class="blog-block-content-wrp">
                                <div class="blog-block-top">
                                    <p>Терапия</p>
                                    <p>06.05.2020</p>
                                </div>
                                <p class="blog-prev-name">Инструмент для анатомического формирования</p>
                                <div class="blog-middle">
                                    <p>Моделирующий инструмент для анатомического формирования композитных пломб и адгезивов на окклюзионных поверхностях, для пломбирования полостей, для жевательных бугров и фиссур может использоваться как штопфер.</p>
                                </div>
                            </div>
                            <a href="#">
                                <span>перейти</span>
                                <span>+ +</span>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="paginaciya">
                    <li>
                        <a href="#">предыдущая</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">...</a>
                    </li>
                    <li>
                        <a href="#">12</a>
                    </li>
                    <li>
                        <a href="#">следующая</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
