<div class="menu">
    <div class="container">
        <ul class="menu-list">
            <li>
                <a href="#">о компании</a>
            </li>
            <li>
                <a href="#">инструмент</a>
            </li>
            <li>
                <a href="#">блог</a>
            </li>
            <li>
                <a href="#">новости</a>
            </li>
            <li>
                <a href="#">где купить</a>
            </li>
        </ul>
        <ul class="acc-list">
            <li>
                <a href="#">
                    <img src="../../build/img/fb.svg" alt="">
                    <span>facebook</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../build/img/inst.svg" alt="">
                    <span>instagram</span>
                </a>
            </li>
        </ul>
    </div>
</div>
