<main>
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="acc-list-fix-wrp">
            <ul class="acc-list-fix">
                <li>
                    <a href="#">
                        <img src="../../build/img/fb.svg" alt="">
                        <span>facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/inst.svg" alt="">
                        <span>instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="p56">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="/">
                            <img src="../../build/img/house.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Очень тонкая гладилка для моделирования</a>
                    </li>
                </ul>
                <div class="blog-article-page-content">
                    <div class="row">
                        <div class="col-md-3 col-12 wow animated fadeInUp">
                            <p class="subtitle-article">Читать</p>
                            <ul class="filters-list filters-list-article">
                                <li>
                                    <span>Где купить терапевтические инструменты</span>
                                </li>
                                <li>
                                    <span>Новинка! Зонд диагностический TYPE 2</span>
                                </li>
                                <li>
                                    <span>Лоток для стрилизации инструментов</span>
                                </li>
                                <li>
                                    <span>Новинка! Зонд диагностический TYPE 2</span>
                                </li>
                                <li>
                                    <span>Лоток для стрилизации инструментов</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9 col-12">
                            <h2 class="wow animated fadeInUp">Очень тонкая гладилка для моделирования</h2>
                            <div class="article-wrp">
                                <article>
                                    <img src="../../build/img/article1.jpg" alt="">
                                    <p><b>Meddins – український виробник стоматологічного інструменту з високоякісної медичної сталі. Це порівняно молодий бренд, що стрімко розвивається та тісно співпрацює зі стоматологами і експертами медичної галузі.  Простий, ергономічний і функціональний – таким має бути професійний інструмент для стоматологів.</b></p>
                                    <p>Meddins тільки з’явився на українському ринку. Це величезний прорив та радість – нарешті в Україні виробляється власний стоматологічний інструмент!</p>
                                    <p>Meddins створює інструменти разом з вами – практикуючими стоматологами, експертами в галузі медицини та охорони здоров’я, лідерами думок. Наш технологи прислухаються до кожного відгуку, відкриті до пропозицій, враховують всі нюанси для того, щоб кожен стоматолог відчував свою значущість і причетність до такої складної та важливої професії.</p>
                                    <img class="alignleft" src="../../build/img/article2.jpg" alt="">
                                    <img class="alignright" src="../../build/img/article3.jpg" alt="">
                                    <p><a href="#">Meddins тільки з’явився</a> на українському ринку. Це величезний прорив та радість – нарешті в Україні виробляється власний стоматологічний інструмент!</p>
                                    <p>Meddins створює інструменти разом з вами – практикуючими стоматологами, експертами в галузі медицини та охорони здоров’я, лідерами думок. Наш технологи прислухаються до кожного відгуку, відкриті до пропозицій, враховують всі нюанси для того, щоб кожен стоматолог відчував свою значущість і причетність до такої складної та важливої професії.</p>
                                    <ul>
                                        <li>Meddins тільки з’явився</li>
                                        <li>Meddins тільки з’явився</li>
                                        <li>Meddins тільки з’явився</li>
                                    </ul>
                                    <p></p>
                                    <ol>
                                        <li>Meddins тільки з’явився</li>
                                        <li>Meddins тільки з’явився</li>
                                        <li>Meddins тільки з’явився</li>
                                    </ol>
                                    <table>
                                      <tr>
                                        <th>Заголовок</th>
                                        <th>Заголовок</th>
                                        <th>Заголовок</th>
                                        <th>Заголовок</th>
                                      </tr>
                                      <tr>
                                        <td>Какие-то табличные данные</td>
                                        <td>6 Мб</td>
                                        <td>28 попугаев</td>
                                        <td>33 коровы</td>
                                      </tr>
                                      <tr>
                                        <td>Какие-то табличные данные</td>
                                        <td>6 Мб</td>
                                        <td>28 попугаев</td>
                                        <td>33 коровы</td>
                                      </tr>
                                      <tr>
                                        <td>Какие-то табличные данные</td>
                                        <td>6 Мб</td>
                                        <td>28 попугаев</td>
                                        <td>33 коровы</td>
                                      </tr>
                                    </table>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
