<main>
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="acc-list-fix-wrp">
            <ul class="acc-list-fix">
                <li>
                    <a href="#">
                        <img src="../../build/img/fb.svg" alt="">
                        <span>facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/inst.svg" alt="">
                        <span>instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content page-card">
            <div class="p56">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="/">
                            <img src="../../build/img/house.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">Инструмент</a>
                    </li>
                    <li>
                        <a href="#">Зонт диагностичсекий</a>
                    </li>
                </ul>
                <div class="card-content">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="card-mob">
                                <h2 class="wow animated fadeInUp">Зонт диагностический</h2>
                                <p class="rubrika wow animated fadeInUp">
                                    <span>Диагностика</span>
                                    <img src="../../build/img/smile1.svg" alt="">
                                </p>
                                <p class="card-article wow animated fadeInUp">Артикул: DDI 70</p>
                            </div>
                            <div class="card-slider-wrp-all">
                                <div class="card-slider-wrp">
                                    <div class="prev-card-arrow main-arrow">
                                        <img src="../../build/img/ar-prev.svg" alt="">
                                    </div>
                                    <div class="card-slider-for">
                                        <div>
                                            <a href="../../build/img/1m.png" data-fancybox="gallery" class="card-slider-img">
                                                <img src="../../build/img/1m.png" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="../../build/img/2m.png" data-fancybox="gallery" class="card-slider-img">
                                                <img src="../../build/img/2m.png" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="../../build/img/3m.png" data-fancybox="gallery" class="card-slider-img">
                                                <img src="../../build/img/3m.png" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="../../build/img/news-prev.png" data-fancybox="gallery" class="card-slider-img">
                                                <img src="../../build/img/news-prev.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-slider-nav-wrp">
                                        <div class="card-slider-nav">
                                            <div>
                                                <div class="card-slider-img">
                                                    <img src="../../build/img/1m.png" alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card-slider-img">
                                                    <img src="../../build/img/2m.png" alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card-slider-img">
                                                    <img src="../../build/img/3m.png" alt="">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card-slider-img">
                                                    <img src="../../build/img/news-prev.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="next-card-arrow main-arrow">
                                        <img src="../../build/img/ar-next.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="card-describe">
                                <div class="card-desc">
                                    <h2 class="wow animated fadeInUp">Зонт диагностический</h2>
                                    <p class="rubrika wow animated fadeInUp">
                                        <span>Диагностика</span>
                                        <img src="../../build/img/smile1.svg" alt="">
                                    </p>
                                    <p class="card-article wow animated fadeInUp">Артикул: DDI 70</p>
                                </div>
                                <div class="card-text wow animated fadeInUp">
                                    <p>Meddins створює інструменти разом з вами – практикуючими стоматологами, експертами в галузі медицини та охорони здоров’я, лідерами думок. Наш технологи прислухаються до кожного відгуку, відкриті до пропозицій, враховують всі нюанси для того, щоб кожен стоматолог відчував свою значущість і причетність до такої складної та важливої професії.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-more-block">
                <div class="h2-content">
                    <h2 class="wow animated fadeInUp">Смотри также</h2>
                    <div class="instrument-arrow-wrp instrument-arrow-wrp-desc">
                        <div class="prev-instrument2-arrow main-arrow">
                            <img src="../../build/img/ar-prev.svg" alt="">
                        </div>
                        <div class="next-instrument2-arrow main-arrow">
                            <img src="../../build/img/ar-next.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-desc">
                    <div class="instrument-slider instrument-slider2">
                        <div>
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/Ormco_Premium_instrument_pliers.jpg" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Стоматологический шпатель Стоматологический</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/3m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 2</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Гладилка 1</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Ручка для зеркала</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-more-mob">
                    <div class="catalog-row-2">
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Зонд диагностический 1</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="catalog-col-inner">
                            <a href="#" class="instrument-slide">
                                <div class="instrument-slide-img">
                                    <img src="../../build/img/1m.png" alt="">
                                </div>
                                <div>
                                    <p class="instrument-slide-name">Экскаватор 3</p>
                                    <p class="instrument-slide-articul">Артикул: DDI 01</p>
                                </div>
                                <div class="instrument-slide-more violet2">
                                    <div class="instrument-slide-more-text">
                                        <p class="instrument-slide-more-name">Экскаватор 2</p>
                                        <p>Стоматологический экскаватор служит для для удаления из кариозной полости остатков пищи, временных пломб,  мягкого зубного налета.</p>
                                    </div>
                                    <div class="btn-main-wrp violet2">
                                        <div class="btn-overlay"></div>
                                        <div class="btn-main">
                                            <span>смотреть</span>
                                            <span>+ +</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
