<div id="message" class="pop-up-general-block">
    <p class="pop-title">Форма обратной связи</p>
    <form id="popUpForm" action="">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="input-style">
                    <input class="pop-up-input input-valid" type="text" data-input="name" name="name" value="" placeholder="Введите Ваше имя*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-style">
                    <input class="pop-up-input input-valid" type="email" data-input="email" name="email" value="" placeholder="Ваш Email*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-style">
                    <input class="pop-up-input input-valid mask-phone" type="tel" data-input="phone" name="phone" value="" placeholder="Номер телефона*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-style">
                    <input class="pop-up-input input-valid" type="text" data-input="name" name="name" value="" placeholder=" Ваша страна и город*">
                    <p class="input-error">Ошибка ввода</p>
                </div>
            </div>
        </div>
        <textarea class="textarea-pop-up" name="name" placeholder="Текст сообщения"></textarea>
        <div class="btn-main-wrp black">
            <div class="btn-overlay"></div>
            <input class="btn-main" type="submit" value="отправить  ++">
        </div>
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>

<div id="thnxMessage" class="pop-up-general-block thnx">
    <p class="pop-title">Спасибо, мы&nbsp;свяжемся с&nbsp;Вами <br>в&nbsp;скором времени.</p>
    <div class="pop-up-general-block-close-btn"></div>
</div>
<div id="thnxSubscribe" class="pop-up-general-block thnx">
    <p class="pop-title">Спасибо, вы&nbsp;подписаны <br>на&nbsp;новости Meddins</p>
    <div class="pop-up-general-block-close-btn"></div>
</div>
