<div id="reminder" class="pop-up-general-block">
    <p class="pop-title">Получите напоминание о матче</p>
    <p>На указанный e-mail вам придет уведомление за день до матча, в день матча и за час до события</p>
    <form id="valid2" action="">
        <div class="input-style">
            <input class="pop-up-input input-valid" type="text" data-input="name" name="name" value="" placeholder="Имя">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <input class="pop-up-input input-valid" type="email" data-input="email" name="email" value="" placeholder="E-mail">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="input-style">
            <input class="pop-up-input input-valid mask-phone" type="tel" data-input="phone" name="phone" value="" placeholder="+7 (___) ___-__-__">
            <p class="input-error">Ошибка ввода</p>
        </div>
        <div class="btn-checkbox-wrp">
            <label class="checkbox">
            	<input class="checkbox-check" type="checkbox" />
            	<div class="checkbox__text"><span>Я соглашаюсь с </span><a href="/policy">Политикой конфиденциальности</a></div>
            </label>
            <input type="submit" class="pop-up-btn btn-4-checkbox btn-4-checkbox-disabled" name="" value="Отправить">
        </div>
    </form>
    <div class="pop-up-general-block-close-btn"></div>
</div>

<!-- <div id="success">
    <h2>Спасибо!</h2>
    <p>Наш консультант свяжется с&nbsp;Вами в&nbsp;течение 10 минут</p>
    <a href="/" class="pop-up-btn">Вернуться на главную</a>
    <div class="pop-up-general-block-close-btn"></div>
</div> -->
