.btn-main-wrp {
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 48px;
    &:hover {
        .btn-main {
            color: #fff;
        }
        .btn-overlay {
            transform: scale(1, 1);
            transform-origin: left center;
        }
    }
    &.black {
        .btn-main {
            color: #2F2F2F;
            border-color: #2F2F2F;
        }
        .btn-overlay {
            background-color: #2F2F2F;
        }
        &:hover {
            .btn-main {
                color: #fff;
            }
        }
    }
    &.violet {
        width: 183px;
        .btn-main {
            color: #FFFFFF;
            border-color: #FFFFFF;
        }
        .btn-overlay {
            background-color: #FFFFFF;
        }
        &:hover {
            .btn-main {
                color: #6A329B;
            }
        }
    }
    &.violet2 {
        width: 183px;
        .btn-main {
            color: #FFFFFF;
            border-color: #FFFFFF;
        }
        .btn-overlay {
            background-color: #FFFFFF;
        }
        &:hover {
            .btn-main {
                color: #808CEA;
            }
        }
    }
}

.btn-main {
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #808CEA;
    border-radius: 100px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #808CEA;
    font-family: 'TTCommons-DemiBold', sans-serif;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    span {
        position: relative;
        display: inline-block;
        & + span {
            margin-left: 30px;
        }
    }
}
.btn-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #808CEA;
    transform: scale(0, 1);
    transform-origin: right center;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pt112 {
    padding-top: 112px;
}
.pb144 {
    padding-bottom: 144px;
}
h2 {
    font-size: 45px;
    line-height: 52px;
    color: #2F2F2F;
    font-family: 'TTCommons-Bold';
}
h3 {
    font-size: 32px;
    line-height: 130%;
    color: #2E2E2E;
}

.input-style {
    position: relative;
    .input-error {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: #FF3A3A;
        font-size: 12px;
        line-height: 1;
        font-family: 'TTCommons-Regular';
        opacity: 0;
    }
    &.error {
        .input-error {
            opacity: 1;
        }
        .input-valid {
            border-color: #FF3A3A;
            color: #FF3A3A;
        }
    }
}
.checkbox {
    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
    	margin: 10px 0 0 20px;
        &:checked + .checkbox__text::before {
        	background-color: #5782AF;
        }
        &:checked + .checkbox__text::after {
        	opacity: 1;
        }
    }
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 32px;
	cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: #5782AF;
    span {
        display: inline-block;
        padding-right: 5px;
    }
    a {
        color: #fff;
        border-bottom: 1px solid #5782AF;
        transition: .2s;
        &:hover {
            border-bottom-color: rgba(255, 255, 255, 0.01);
        }
    }
    &::before {
    	content: '';
    	position: absolute;
    	top: -2px;
    	left: 0;
    	width: 18px;
    	height: 18px;
        background-color: #fff;
        border: 1px solid #5782AF;
    }
    &::after {
    	content: '';
    	position: absolute;
    	top: 3px;
    	left: 3px;
    	width: 13px;
    	height: 9px;
    	background: url('../img/check.png') center no-repeat;
        background-size: contain;
        opacity: 0;
    }
}
.btn-4-checkbox-disabled {
    opacity: .5;
    pointer-events: none;
}

.flex-vertical {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-base {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.flex-column {
    flex-direction: column;
}
.flex-align-initial {
    align-items: stretch;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}

@media (max-width: 767px) {
    h2 {
        font-size: 33px;
        line-height: 38px;
    }
    h3 {
        font-size: 26px;
    }
    .pt112 {
        padding-top: 80px;
    }
    .pb144 {
        padding-bottom: 100px;
    }
}
