@import "reset";
@import "fonts";
@import "variables";
@import "custom";
@import "header/header";
@import "footer/footer";
@import "main/main";
@import "catalog/catalog";
@import "card/card";
@import "news/news";
@import "blog/blog";
@import "menu/menu";
@import "popup/popup";
// @import "policy/policy";
// @import "sss/sss";


body {
    position: relative;
    font-family: 'TTCommons-Regular', sans-serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #ffffff;
    &.compensate-for-scrollbar {
        padding-right: 17px;
        header.header-scrolled {
            padding-right: 17px;
        }
    }
}
body.active {
    height: 100%;
    overflow: hidden;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    .pages-wrapper, .header-wrapper, .menu-wrapper {
        position: relative;
        width: 100%;
    }
    .header-wrapper {
        z-index: 5;
    }
    .search-mob-wrapper {
        z-index: 6;
    }
    .menu-wrapper {
        z-index: 4;
    }
    .pages-wrapper {
        z-index: 3;
        flex: 1;
    }
    .footer-wrapper {
        position: relative;
        z-index: 2;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1205px;
    }
}
