<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="../../build/img/logo.png" alt="">
        </a>
        <ul class="header-list">
            <li>
                <a href="#">о компании</a>
            </li>
            <li>
                <a href="#">инструмент</a>
            </li>
            <li>
                <a href="#">блог</a>
            </li>
            <li>
                <a href="#">новости</a>
            </li>
            <li>
                <a href="#">где купить</a>
            </li>
        </ul>
        <div class="burger">
            <span></span>
        </div>
    </div>
</header>
