<main class="main-contact">
    <div class="container">
        <span class="span-setka-1"></span>
        <span class="span-setka-center"></span>
        <span class="span-setka-2"></span>
        <div class="acc-list-fix-wrp">
            <ul class="acc-list-fix">
                <li>
                    <a href="#">
                        <img src="../../build/img/fb.svg" alt="">
                        <span>facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../build/img/inst.svg" alt="">
                        <span>instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content page-contacts">
            <div class="p56">
                <ul class="breadcrumbs-list">
                    <li>
                        <a href="/">
                            <img src="../../build/img/house.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">Где купить</a>
                    </li>
                </ul>
                <div class="btn-switch">
                    <p data-line="on"><span>online</span><span>++</span></p>
                    <p data-line="off" class="active"><span>ofline</span><span>++</span></p>
                </div>
            </div>
            <div id="off" class="map-section-content active">
                <div class="p56">
                    <h2>Наши магазины</h2>
                    <p class="map-subtitle">Поиск</p>
                    <div class="search-flex">
                        <input class="input-search" type="email" name="text" data-input="email" placeholder="Укажите ваш город">
                        <button class="subscribe-btn" type="submit" name="button">
                            <span>поиск</span>
                            <span>+ +</span>
                        </button>
                    </div>
                    <div class="map-wrp">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 p-0">
                                <div class="address-wrp">
                                    <div id="internaz" class="map-text-block active">
                                        <p>Adagio</p>
                                        <p>Adagio</p>
                                        <p>ул. Интернациональная 33  Семей</p>
                                    </div>
                                    <div id="auezov" class="map-text-block">
                                        <p>Adagio</p>
                                        <p>Проспект Ауэзова 35</p>
                                        <p>Усть-Каменогорск</p>
                                    </div>
                                    <div id="shlisselburg" class="map-text-block">
                                        <p>Adagio</p>
                                        <p>shlisselburg</p>
                                        <p>Усть-Каменогорск</p>
                                    </div>
                                    <div id="kirovsk" class="map-text-block">
                                        <p>Adagio</p>
                                        <p>kirovsk</p>
                                        <p>Усть-Каменогорск1</p>
                                    </div>
                                    <div id="otradnoe" class="map-text-block">
                                        <p>Adagio</p>
                                        <p>otradnoe</p>
                                        <p>Усть-Каменогорск3</p>
                                    </div>
                                    <div id="prime" class="map-text-block">
                                        <p>Adagio</p>
                                        <p>Prime Star</p>
                                        <p>Усть-Каменогорск2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6 col-12 pl-0">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="on" class="map-section-content">
                <div class="p56">
                    <h2>Интернет магазины</h2>
                </div>
                <div class="countries-wrp">
                    <div class="row-materik">
                        <div class="p56">
                            <p class="subtitle-materik">Amerika / South Amerika</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag1.png" alt="">
                                    <span>США</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nailmasterdallas.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nashlynails.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag2.png" alt="">
                                    <span>Канада</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag3.png" alt="">
                                    <span>Аргентина</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nailmasterdallas.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag4.png" alt="">
                                    <span>Бразилия</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag3.png" alt="">
                                    <span>Аргентина</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nailmasterdallas.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row-materik">
                        <div class="p56">
                            <p class="subtitle-materik">Europe</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag5.png" alt="">
                                    <span>Украина</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nailmasterdallas.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nashlynails.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag6.png" alt="">
                                    <span>Россия</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag7.png" alt="">
                                    <span>Испания</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                    <li>
                                        <a href="#">queensupplies.com</a>
                                    </li>
                                    <li>
                                        <a href="#">lisakon.com</a>
                                    </li>
                                    <li>
                                        <a href="#">nailmasterdallas.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <p class="title-country">
                                    <img src="../../build/img/flag8.png" alt="">
                                    <span>Великобритания</span>
                                </p>
                                <ul class="countries-list">
                                    <li>
                                        <a href="#">brightonebeautysupply.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
